<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h1>Welcome to Mukete's Library</h1>
  </body>
</html>
